@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #afb2b6;
}

::-webkit-scrollbar-thumb {
    background: #5b595952;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #59545452;
}

/* Oculta la barra de scroll, pero permite desplazamiento */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none; /* IE y Edge */
    scrollbar-width: none; /* Firefox */
  }
  